.text-1{
    margin-left: 500px;
}
.conteiner{
    Width:578px;
Height:158px;
background-color:white;
margin-left: 500px;
}
.conteiner1{
    Width:494px;
Height:19px;
background-color:white;
}
.text-2{
    Width:1363px;
Height:202px;
background-color: white;
}
.conteiner2{
    Width:494px;
Height:19px;
}
.text-3{
    Width:578px;
Height:167px;
}
.text-4{
    Width:578px;
Height:212px;
}
.text-5{
    Width:578px;
Height:212px;
}